/* for Merging the two image */

.base {
    position: relative;
    display: inline;
}

.imtop {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.imgbase {
    width: 100%;
}

.footer {
    padding-top: .5em;
}