<div class="base">

    <img src="{{data.overlay}}" class="imtop" />
    <img src="{{data.url}}" class="imgbase" />

</div>
<div class="footer">
    <button mat-raised-button class="b1">
            <mat-icon aria-hidden="false" aria-label="crop icon"> 
                    crop
                </mat-icon>
    </button>&nbsp;&nbsp;

    <button mat-raised-button (click)='onNoClick()' class="b2">
            <mat-icon aria-hidden="false" aria-label="clear icon" > 
                    clear
            </mat-icon>
        </button>
</div>